*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

body {
    background-color: #F6F8F9;
}

header {
    background-color: white;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 30px;

}

header #logo{
    height: 90px;
}

header h1 {
    display: inline-block;
    line-height:85px;
    vertical-align:top;
    font-size: 65px;
}

nav {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 50px;
    width: 75%;
    margin:auto;
}

.button-1 {
    font-size: 16px;
    color: #C8CED3;
    padding: 10px;
    border: 2px solid #C8CED3;
    background-color: white;
    border-radius: 8px;
}

#button-blue {
    background-color: #47adf1;
    border: 2px solid #47adf1;
    color: white;
}


main {
    background-color: white;
    font-size: 20px;
    padding-left: 68px;
    padding-bottom: 20px;
    color: #40444E;
    margin-left: 50px;
    width: 75%;
    margin:auto;
}

main li {
    margin-bottom: 18px;
}

li button {
    color: #fefefc;
    font-size: 12px;
    padding: 9px;
    border-radius: 13px;
    border: none;
}

#lista-grande {
    margin-top: 2px;
}

#titolo {
    margin-top: 0;
    padding-top: 30px;
}

.freccia {
    list-style-type: "\25BC";
    padding-left: 14px;
}

.spunta-verde {
    list-style-type: "\2705";
}

.croce-rossa {
    list-style-type: "\274C";
}

.azzurro {
    background-color: #45abea;
}

#viola{
    background-color: #9c72e4;
}

#verdone-scuro {
    background-color: #64c0a9;
}

#arancione {
    background-color: #f29e33;
}

#fucsia {
    background-color: #d863a1;
}

#verde-chiaro {
    background-color: #b0c926;
}
